@import "./../../assets/style/varibles/varibles.scss";

header {
  width: 100%;

  position: absolute;
  z-index: 3;
  .containerr {
    padding: 30px;
    width: 65%;
    @include display-flex(space-between, center);
    gap: 20px;

    .logo {
      span {
        padding: 5px 10px;
        border: 1px solid white;
        font-size: 21px;
        font-weight: 700;
        color: white;
      }
    }
    ul {
      @include display-flex(flex-end, center);
      gap: 20px;
      li {
        color: $basic-color;
      }
    }


    .mobile-bar{
        display: none;
    }
  }

  .mobile-nav {
    display: none;
    width: 95%;
    padding-left: 30px;
    padding-bottom: 10px;
    ul {
      li {
        font-size: 20px;
        color: rgb(204, 197, 197);
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    background-color: #404044;

    .containerr {
      width: 95%;
      ul {
        display: none;
      }
      .logo {
        margin: 0px;
      }
      .mobile-bar {
        margin: 0px;
        @include display-flex(flex-end, center);
        flex-direction: row;
        p {
          color: #8c817d;
        }
      }
    }
  }
}
